body {
    background-color: #D4A373;
}
.intro {
    color: FEFAE0;
    text-align: center;
    display: block;
    border: 2px solid white;
}
.name {
    text-emphasis: bold;

}
.linkedin_photo {
    height: 200px;
    width: 200px;
}
.main_body {
    color: FEFAE0;
}


nav {
    display: inline-block;
    
}